#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.skipButton {
position: fixed;
  top: 1.5rem;
  right: 2rem;
  padding: 6px 16px;
  background: #000000;
  color: #28f02f;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  cursor: pointer;
  z-index: 10;
  transition: background 0.2s, color 0.2s;
}

.skipButton:hover {
  background: #28f02f;
  color: #000000;
}

.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.card {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 2em;
}


@keyframes fadeInLogo {
  from { opacity: 0; }
  to { opacity: 1; }
}

.bannerLogo {
  width: 350px;
  height: auto;
  margin-top: 16rem;
  transform: rotate(14.5deg);
  animation: fadeInLogo 5s forwards;
  transition: opacity 8000ms ease-in, transform 450ms ease-in-out;
  cursor: pointer;
  opacity: 0;
}

.bannerLogo:hover {
  animation: none;
  opacity: 1;
  transform: rotate(0deg) scale(1.1);
  filter: drop-shadow(0 0 10px #22ffaaaa);
  transition: opacity 100ms ease-out, transform 450ms ease-in-out;
}

.logoNoAnim {
  animation: none !important;
  opacity: 1 !important;
}

@media (max-width: 768px) {
  .bannerLogo {
    width: 250px;
    margin-top: 12rem;
  }
}

@media (max-width: 480px) {
  .bannerLogo {
    width: 150px;
    margin-top: 8rem;
  }
}